<md-dialog aria-label="Ajouter un utilisateur" class="userAddContainer" ng-cloak>
  <form name="myform">
    
    <md-dialog-content>

    	<article class="widget widget__form">
			<div class="form_col">

				<div class="formGroup mb  fullwidthgroup">
					<div class="btn-group block">
					  <a ng-click="formData.role='admin';" type="button" class="fakeColorGreen btn active"  ng-class="{'green':formData.role=='admin','blue':formData.role=='user','violet':formData.role=='premium'}" style="border-right:0px">Administrateur</a>
					  <a ng-click="formData.role='user';" type="button" class="fakeColorBlue btn active" ng-class="{'green':formData.role=='admin','blue':formData.role=='user','violet':formData.role=='premium'}" >User</a>
					  <a ng-click="formData.role='premium';" type="button" class="fakeColorViolet btn active" ng-class="{'green':formData.role=='admin','blue':formData.role=='user','violet':formData.role=='premium'}"  style="border-left:0px">Premium user</a>
					</div>
				</div>
				<div class="smallSeparator"></div>
				<label for="input-1" class="stacked-label"><i class="pe-7s-mail"></i></label>
				<span class="loaderIntput" ng-show="myform.email.$pending.uniqueemail"><i class="fa fa-spinner fa-spin"></i>Vérification de disponibilité</span>
				<span class="loaderIntput" ng-show="myform.email.$error.uniqueemail"></i>Email déjà utilisée</span>
				<input type="email" uniqueemail="formData.email"  validate-email name="email" required class="stacked-input" ng-model="formData.email" id="input-1" placeholder="Email">	

				<label for="input-2" class="stacked-label"><i class="pe-7s-user"></i></label>
				<input type="text" name="name" required class="stacked-input"  ng-model="formData.name" id="input-2" placeholder="Nom">	

				<label for="input-3" class="stacked-label"><i class="pe-7s-user"></i></label>
				<input type="text" name="firstname" required class="stacked-input" style="margin-bottom:1px;" ng-blur="update('firstname')" ng-model="formData.firstname" id="input-3" placeholder="Prénom">	
			</div>
		</article>	
			
			
    </md-dialog-content>
    <md-dialog-actions layout="row">
	

				<button class="btn blue pull-left" ng-click="addUser()">Ajouter cet utilisateur</button>

        
      
      
    </md-dialog-actions>
  </form>
</md-dialog>