<div class="maincontent profileWidget">
	<!-- <div class="toggleEditmode" style="z-index:1000;" ng-click="toogleEditMode()" >
		<input type="checkbox" ng-model="editionMode" id="switch-editmode" class="sw" checked />
		<label class="switch2 green" for="switch-editmode" title="Entrer/sortir du mode edition"></label> 
	</div>
	<div class="savedash"  ng-click="saveDash()">
		<a class="btn-circle btn-sm" title="Save Dashboard"><i class="pe-7f-paperclip"></i></a>
	</div> -->
	<article class="widget">

		<!-- <header class="widget__header">
				<div class="widget__icon"><i  class="pe-7s-id"></i></div>
				<div class="widget__title">
					<span>Mon profile </span> 
					
					
				</div>
				
				<div  class="keepThisEvent btn-header" ui-sref="profile" title=""><md-tooltip md-direction="top"> Modifier mon profile</md-tooltip><i class="pe-7s-note"></i></div>
				<div  class="keepThisEvent btn-header" ui-sref="profile" title="">
					
				</div>
				<div class=" btn-header" ui-sref="blog.edit({id: lastArticle.id})" ><md-tooltip md-direction="top"> Deconnexion</md-tooltip><i class="pe-7s-power"></i></div>
			</header> -->
 
		<div class="widget__content filled">
			<div class="RESIZEHEIGHT"> 
					<div class="imgdiv">
		            	<figure class="post_image" ng-if="user.images.length > 0">
							<img class="Myprofileimage" ng-src="image/profile/{{user.images[0].filename}}" alt="">

						</figure>
						<figure  class="post_video" ng-if="user.images.length <= 0">
							<ng-letter-avatar charCount="1" data="{{user.firstname}} {{user.name}}" fontsize="30" height="70" width="70" shape="round"></ng-letter-avatar>
						</figure>
		            </div>
					<div class="namediv">
			            <div class="">{{user.firstname}} {{user.name}}</div>
			            <div class="" ><small>{{user.email}}</small></div>
					</div>

		         
		            
		            <div class="btndiv">
		            	<div  class="btn-circle" ui-sref="logout"><md-tooltip md-direction="bottom"> Deconnexion</md-tooltip><i class="pe-7f-power"></i></div>
		            	<div  class="btn-circle" ui-sref="profile"><md-tooltip md-direction="bottom"> Modifier mon profile</md-tooltip><i class="pe-7f-tools"></i></div>
		            	<div  class="btn-circle" ui-sref="profile"><notification-icon count="countNotif"><i class="pe-7f-bell"></i></notification-icon></div>
		            	
						
		            	<div  class="btn-circle"><notification-icon count="countMessage"><i class="pe-7f-mail"></i></notification-icon></div>
		            </div>
		         
		    </div>
			<!-- <div>
				<h4>{{lastArticle.title}}</h4>
				<figure class="pull-right post__img" ng-if="lastArticle.images.length > 0 && (!lastArticle.videoUrl || !lastArticle.videoHost)">
					<img class="media-object" ng-src="image/adminThumbs/{{lastArticle.images[0].filename}}">
				</figure>
				<figure  class="pull-right post__img post_video" ng-if="lastArticle.videoUrl && lastArticle.videoHost">
					<div ng-if="lastArticle.videoHost =='youtube'"> <i class="socicon-youtube" aria-hidden="true"></i></div>
					<div ng-if="lastArticle.videoHost =='dailymotion'"> <i class="socicon-dailymotion" aria-hidden="true"></i></div> 
					<div ng-if="lastArticle.videoHost =='vimeo'"> <i class="socicon-vimeo" aria-hidden="true"></i></div>
				</figure>
				<p class="post__info"  ng-bind-html="lastArticle.content" parent-id="lastArticle.id" content-html="lastArticle.content" html-ellipsis>


  				<div class="infosinfos">
  					<div class="tablecat" ng-repeat="cat in lastArticle.categories" style="color:{{cat.textColor}};background-color : {{cat.color}};border-color : {{cat.color}}">
  						<span>{{cat.name}}</span>
  					</div>
  					<div class="tabletag" ng-repeat="tag in lastArticle.tags">
  						<span>{{tag.text}}</span>
  					</div>
  				</div>

			</div> -->
			<!-- <div ng-repeat="(key, item) in widgetList" class="listConfigItem" ng-if="!item.required">
				<div class="keepThisEvent" >
					<input type="checkbox" ng-model="item.enabled" id="switch-{{key}}" class="sw" checked />
					<label class="switch green" for="switch-{{key}}" title="Activer/Désactiver ce widget"></label> 
				</div>
				<h4 class="">{{item.widgetName}}</h4>
			</div> -->
			
			<!-- <p class="graph-number"><span>6,184</span> Visits</p> -->
		</div>

		

	</article>
</div>