

.notificationWidget .widget__header {position: relative;width: 100%;overflow: hidden;font-size: 1em;/*background:blue;*/}
.notificationWidget .widget__header .notifsInTitle{margin-right:10px;}
.notificationWidget .widget__title {width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.notificationWidget .widget__title > span:first-child{ flex-grow:3;font-size:1.2rem;}
.notificationWidget .widget {height: auto;}
.notificationWidget .widget__header{height: 64px;display:flex;flex-direction:row; align-content:center; justify-content:flex-start; align-items:center;}
.notificationWidget .widget__title{display:flex; height: 100%;flex-direction: row;justify-content: flex-start; padding-left:5px; flex-grow:3; background-color: rgba(0, 0, 0, 0.3);}
.notificationWidget  .widget__icon__right{height: 100%;display:flex;justify-content: center;align-items:center;text-align: center;background:rgba(0,0,0,0.25); margin-left: 1px;width:70px;}
.notificationWidget .widget__icon{font-size: 1.3em;display:flex;  height: 100%;flex-direction: column;justify-content: center; padding-left:15px;background-color: rgba(0, 0, 0, 0.3);}
.notificationWidget .widget__content.filled{ min-height:500px; background:rgba(0,0,0,0.4);padding: 10px;}

#noNotifElment{text-align: center;display:flex;justify-content:center;align-items:center;}

.notificationWidget .AllNofit {min-height:120%;}
.notificationWidget .AllNofit li{margin-bottom: 8px;cursor: pointer;display:flex;flex-wrap:wrap; padding : 10px; border-bottom: 1px solid rgba(255,255,255,0.1);padding-right: 10px;}
.notificationWidget .AllNofit li > div{width: 100%;}
.notificationWidget .AllNofit li.newnotif{background:rgba(255, 156, 75, 0.25);    border: 1px solid #ff9c4b;}
.notificationWidget .AllNofit li.newnotif:hover{background:rgba(255, 156, 75, 0.30);}
.notificationWidget .AllNofit li.oknotif{background:rgba(82, 214, 105, 0.25);    border: 1px solid #52d669;}
.notificationWidget .AllNofit li.oknotif:hover{background:rgba(82, 214, 105, 0.30);}
.notificationWidget .AllNofit li:hover{background:rgba(255,255,255,0.05);}
.notificationWidget .AllNofit li .title{width: 100%;font-weight: bold;padding-bottom:3px;line-height: 20px;}
.notificationWidget .AllNofit li .title .date{float:right;font-weight: normal;font-size: 0.8em;}
.notificationWidget .AllNofit li .info1{width: 100%;padding:3px 0px;}
.notificationWidget .AllNofit li .info2{width: 100%;padding:3px 0px;}

.notificationWidget .AllNofit li .info1 small{font-size: 0.7em;}
.notificationWidget .AllNofit li .info2 small{font-size: 0.7em;}
.notificationWidget .AllNofit li .info1 i{font-style: italic;}
.notificationWidget .AllNofit li .info2 i{font-style: italic;}

.notificationWidget.smallFont { font-size:0.8rem;}
.notificationWidget.mediumFont { font-size:1rem;}
.notificationWidget.largeFont { font-size:1.2rem;}
.notificationWidget.saveLargeFont { font-size:1.2rem;}
.notificationWidget.extralargeFont { font-size:1.5rem;}
	
.notificationWidget.style0{background:rgba(255,0,0,0.4);}
.notificationWidget.style0 .maincontent{display:none;}


.notificationWidget.style1{}

/*.notificationWidget.style1	.widget__content.filled >div{height: 100%; display:flex;}
.notificationWidget.style1	.widget__content.filled .post__info{display:none;}
.notificationWidget.style1	.widget__content.filled .infosinfos{display:none;}
.notificationWidget.style1	.maincontent figure {height :calc(100% - 20px); height :100%; border-radius:5px;}
.notificationWidget.style1	.maincontent figure img{width:auto;height:100%;}
.notificationWidget.style1	.widget__content.filled h4{ width: calc(100% - 58px);line-height: 3rem;padding-right: 0px;flex-grow:2;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
*/
	
/*.notificationWidget.style2	.widget__content.filled{background:teal;min-height: auto;overflow: hidden;height:calc(100% - 64px)}
.notificationWidget.style2	.widget__content.filled >div{height: 100%; display:block;}
.notificationWidget.style2	.widget__content.filled .post__info{display:none;}
.notificationWidget.style2	.widget__content.filled .infosinfos{display:flex;position: absolute;bottom:10px;left:10px;overflow:hidden;width: calc(100% - 150px);text-overflow: ellipsis;white-space: nowrap;}
.notificationWidget.style2	.maincontent figure {height :calc(100% - 20px); border-radius:5px; position: absolute; top:10px;right:10px;}
.notificationWidget.style2	.maincontent figure img{width:auto;height:100%;}
.notificationWidget.style2	.widget__content.filled h4{height:calc(100% - 30px); width: calc(100% - 130px); line-height: 2rem;padding-right: 0px;flex-grow:2;overflow:hidden;}

	*/
