<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'MADMIN' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/bower_components/angular-gridster/dist/angular-gridster.min.css">
    <link rel="stylesheet" href="/bower_components/textAngular/dist/textAngular.css">
    <link rel="stylesheet" href="/bower_components/angularjs-color-picker/dist/angularjs-color-picker.min.css">
    <link rel="stylesheet" href="/bower_components/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" href="/bower_components/jqcloud2/dist/jqcloud.min.css">
    <link rel="stylesheet" href="/bower_components/angular-trustpass/dist/tr-trustpass.min.css">
    <link rel="stylesheet" href="/bower_components/angular-notification-icons/dist/angular-notification-icons.min.css">
    <link rel="stylesheet" href="/styles/backoffice/font-pe.css">
    <link rel="stylesheet" href="/styles/backoffice/image-crop.css">
    <link rel="stylesheet" href="/styles/backoffice/importer.css">
    <link rel="stylesheet" href="/styles/backoffice/main.css">
    <link rel="stylesheet" href="/styles/backoffice/material.css">
    <link rel="stylesheet" href="/styles/backoffice/socialicon.css">
    <link rel="stylesheet" href="/styles/backoffice/tinymce.css">
    <link rel="stylesheet" href="/styles/backoffice/widget/categorycloud.css">
    <link rel="stylesheet" href="/styles/backoffice/widget/lastarticleWidget.css">
    <link rel="stylesheet" href="/styles/backoffice/widget/lastprojectWidget.css">
    <link rel="stylesheet" href="/styles/backoffice/widget/notificationWiget.css">
    <link rel="stylesheet" href="/styles/backoffice/widget/profileWidget.css">
    <link rel="stylesheet" href="/styles/backoffice/widget/tagcloudwidget.css">
    <!--STYLES END-->
    <style>
    </style>
  </head>
<!-- ng-controller="appCtrl" -->
 <body ng-class="currentTheme" ng-controller="appController">
    <!-- <div id="loading">
        <div class="loader loader-light loader-large"></div>
    </div> -->
    <span us-spinner  spinner-key="mainSpinner"></span>
            
  
    <div ui-view="dashboard"></div>
    


     
    

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/tinycolor/dist/tinycolor-min.js"></script>
    <script src="/bower_components/jqcloud2/dist/jqcloud.min.js"></script>
    <script src="/js/dependencies/jquery-ui.min.js"></script>
    <script src="/js/dependencies/jquery.autoElipsis.js"></script>
    <script src="/js/dependencies/jquery.nicescroll.min.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/moment/locale/fr.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angularSails/dist/ngsails.io.js"></script>
    <script src="/bower_components/flexi-list-master/flexi-list.js"></script>
    <script src="/bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
    <script src="/bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/tinymce-dist/tinymce.js"></script>
    <script src="/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-file-model/angular-file-model.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="/bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="/bower_components/satellizer/satellizer.min.js"></script>
    <script src="/bower_components/spin.js/spin.js"></script>
    <script src="/bower_components/angular-trustpass/dist/tr-trustpass.min.js"></script>
    <script src="/bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="/bower_components/ngletteravatar/dist/ngletteravatar.min.js"></script>
    <script src="/bower_components/angular-notification-icons/dist/angular-notification-icons.min.js"></script>
    <script src="/bower_components/angular-nicescroll/angular-nicescroll.js"></script>
    <script src="/bower_components/genie/dist/genie.min.js"></script>
    <script src="/bower_components/ux-genie/uxGenie.min.js"></script>
    <script src="/js/backoffice/core/app.annotated.js"></script>
    <script src="/js/backoffice/core/widgetService.annotated.js"></script>
    <script src="/js/backoffice/blog/index.annotated.js"></script>
    <script src="/js/backoffice/categories/index.annotated.js"></script>
    <script src="/js/backoffice/login/index.annotated.js"></script>
    <script src="/js/backoffice/project/index.annotated.js"></script>
    <script src="/js/backoffice/social/index.annotated.js"></script>
    <script src="/js/backoffice/user/index.annotated.js"></script>
    <script src="/js/backoffice/blog/articleService.annotated.js"></script>
    <script src="/js/backoffice/blog/directives/addArticle.annotated.js"></script>
    <script src="/js/backoffice/blog/directives/blog.annotated.js"></script>
    <script src="/js/backoffice/blog/directives/lastArticleWidget.annotated.js"></script>
    <script src="/js/backoffice/categories/directives/categories.annotated.js"></script>
    <script src="/js/backoffice/categories/directives/categoryCloudWidget.annotated.js"></script>
    <script src="/js/backoffice/categories/directives/tagCloudWidget.annotated.js"></script>
    <script src="/js/backoffice/categories/directives/tags.annotated.js"></script>
    <script src="/js/backoffice/core/directives/angular-jqcloud.annotated.js"></script>
    <script src="/js/backoffice/core/directives/auditref.annotated.js"></script>
    <script src="/js/backoffice/core/directives/categoryCloudWidget.annotated.js"></script>
    <script src="/js/backoffice/core/directives/dashboard.annotated.js"></script>
    <script src="/js/backoffice/core/directives/dashboardconfigWidget.annotated.js"></script>
    <script src="/js/backoffice/core/directives/ellipsis.annotated.js"></script>
    <script src="/js/backoffice/core/directives/enterBlur.annotated.js"></script>
    <script src="/js/backoffice/core/directives/inputcount.annotated.js"></script>
    <script src="/js/backoffice/core/directives/menuWidget.annotated.js"></script>
    <script src="/js/backoffice/core/directives/notificationWidget.annotated.js"></script>
    <script src="/js/backoffice/core/directives/removeremove.annotated.js"></script>
    <script src="/js/backoffice/core/directives/titleDashWidget.annotated.js"></script>
    <script src="/js/backoffice/core/directives/urlprefixer.annotated.js"></script>
    <script src="/js/backoffice/core/filters/bigNumerFilter.annotated.js"></script>
    <script src="/js/backoffice/core/filters/byteFilters.annotated.js"></script>
    <script src="/js/backoffice/core/filters/duration.annotated.js"></script>
    <script src="/js/backoffice/core/filters/randomSrc.annotated.js"></script>
    <script src="/js/backoffice/core/filters/regex.annotated.js"></script>
    <script src="/js/backoffice/core/services/categoryService.annotated.js"></script>
    <script src="/js/backoffice/core/services/documentService.annotated.js"></script>
    <script src="/js/backoffice/core/services/imageService.annotated.js"></script>
    <script src="/js/backoffice/core/services/notificationService.annotated.js"></script>
    <script src="/js/backoffice/core/services/tagService.annotated.js"></script>
    <script src="/js/backoffice/core/services/userService.annotated.js"></script>
    <script src="/js/backoffice/easyImageCrop/colorpicker.annotated.js"></script>
    <script src="/js/backoffice/easyImageCrop/imageCrop.annotated.js"></script>
    <script src="/js/backoffice/project/directives/addProject.annotated.js"></script>
    <script src="/js/backoffice/project/directives/lastProjectWidget.annotated.js"></script>
    <script src="/js/backoffice/project/directives/projects.annotated.js"></script>
    <script src="/js/backoffice/project/projectService.annotated.js"></script>
    <script src="/js/backoffice/social/directives/socialWidget.annotated.js"></script>
    <script src="/js/backoffice/user/directives/profile.annotated.js"></script>
    <script src="/js/backoffice/user/directives/profileWidget.annotated.js"></script>
    <script src="/js/backoffice/user/directives/uniqueemail.annotated.js"></script>
    <script src="/js/backoffice/user/directives/userProfileWidget.annotated.js"></script>
    <script src="/js/backoffice/user/directives/usersPage.annotated.js"></script>
    <!--SCRIPTS END-->
    <!-- // <script type="text/javascript" src="js/main.js"></script> -->
    <script>
      window._rAF = (function() {
        return window.requestAnimationFrame ||
               window.webkitRequestAnimationFrame ||
               window.mozRequestAnimationFrame ||
               function(callback) {
                 window.setTimeout(callback, 16);
               };
      })();
      window.reqFrame = function reqFrame(cb) {
        return function() {
          cb.apply(this, arguments);
        };
      };
      _rAF(function() {
      angular.bootstrap(document, ['core']);
    });
    </script>
  </body>
</html>