<ul class="profile"> 
	<li>
		<a href="#" class="btn-circle no-circle">
			<i class="pe-7f-back"></i>
		</a>
	</li>
	<li>
		<a href="#" onclick="return false;" class="btn-circle btn-sm">
			<i class="pe-7f-mail"></i>
			<span class="badge badge--blue">8</span>
		</a>
	</li>
	<li>
		<a href="#" onclick="return false;" class="btn-circle btn-sm">
			<i class="pe-7g-sets"></i>
		</a>
	</li>
	<li>
		<a href="#" onclick="return false;" class="btn-circle btn-sm active">
			<i class="pe-7g-user"></i>
		</a>
	</li>
	<li class="mobile-nav">
		<a href="#" onclick="return false;" class="btn-circle btn-sm">
			<i class="pe-7f-menu"></i>
		</a>
	</li>
</ul>