<div >
	<div class="pageDash pageVisible">
		

		<div gridster="gridsterOpts">
			<!-- TITLE WIDGET -->
		        <div gridster-item="widgetList['titleDashWidget']"  ng-class="{'no-resize' : widgetList['titleDashWidget'].noresize}" ng-show="widgetList['titleDashWidget'].enabled">
		        	<title-dash-widget></title-dash-widget><div class="dragger"></div>
		        	<!-- <div class="dragger"></div> -->

		        </div>
		    <!-- MENU WIDGET -->
		        <div gridster-item="widgetList['menuWidget']" ng-class="{'no-resize': widgetList['menuWidget'].noresize }" ng-show="widgetList['menuWidget'].enabled">
		        	<menu-widget></menu-widget><div class="dragger"></div>
		        </div>
		    <!-- dashboardconfig WIDGET -->
		        <div gridster-item="widgetList['dashboardconfigWidget']" ng-class="{'no-resize': widgetList['dashboardconfigWidget'].noresize }" ng-show="widgetList['dashboardconfigWidget'].enabled">
		        	<dashboardconfig-widget></dashboardconfig-widget>
		        </div>
		    <!-- lasArticle WIDGET -->
		        <div gridster-item="widgetList['lastarticleWidget']" ng-class="{'no-resize': widgetList['lastarticleWidget'].noresize }" ng-show="widgetList['lastarticleWidget'].enabled">
		        	<lastarticle-widget></lastarticle-widget>
		        </div>
		    <!-- categorycloudWidget WIDGET -->
		        <div gridster-item="widgetList['categorycloudWidget']" ng-class="{'no-resize': widgetList['categorycloudWidget'].noresize }" ng-show="widgetList['categorycloudWidget'].enabled">
		        	<categorycloud-widget></categorycloud-widget>
		        </div>
		</div>
	</div>
	<div class="page1 pageAfter">
		<!-- <div class="swiperback" ng-click="returnDashboardState()"></div> -->
		<div ui-view="page1"></div>
	</div>
	<div class="page2 pageAfter">
		<!-- <div class="swiperback" style="background:pink" ng-click="returnDashboardState()"></div> -->
		<div ui-view="page2" ></div>
	</div>
</div>
