
<ul class="main-nav">

	<li class="">
		<a class="main-nav__link" ui-sref="profile">
			<span class="main-nav__icon"><i class="pe-7f-home"></i></span>
			<span class=" main-nav__text">Dashboard</span>
		</a>
	</li>
	<li>
		<a class="main-nav__link" ui-sref="projects">
			<span class="main-nav__icon"><i class="pe-7f-display2"></i></span>
			<span class=" main-nav__text">Projets</span>
		</a>
	</li>
	<li class="">
		<a class="main-nav__link" ui-sref="users" onclick="return false;">
			<span class="main-nav__icon"><i class="pe-7f-users"></i></span>
			<span class=" main-nav__text">Users</span>
		</a>
		
	</li>
	<li>
		<a class="main-nav__link" ui-sref="tags">
			<span class="main-nav__icon"><i class="fa fa-tags"></i></span>
			<span class=" main-nav__text">Tags</span>
		</a>
	</li>
	<li>
		<a class="main-nav__link" ui-sref="blog">
			<span class="main-nav__icon"><i class="pe-7f-note"></i></span>
			<span class=" main-nav__text">BLOG</span>
		</a>
	</li>
	<li>
		<a class="main-nav__link" ui-sref="categories">
			<span class="main-nav__icon"><i class="pe-7f-way"></i></span>
			<span class=" main-nav__text">Catégories</span>
		</a>
	</li>
</ul>