
<ul class="main-nav">

	<li class="">
		<a class="main-nav__link" href="#">
			<span class="main-nav__icon"><i class="pe-7f-home"></i></span>
			<span class=" main-nav__text">Dashboard</span>
		</a>
	</li>
	<li>
		<a class="main-nav__link" ui-sref="social">
			<span class="main-nav__icon"><i class="pe-7f-edit"></i></span>
			<span class=" main-nav__text">UI Elements</span>
		</a>
	</li>
	<li class="">
		<a class="main-nav__link" ui-sref="users" onclick="return false;">
			<span class="main-nav__icon"><i class="pe-7f-monitor"></i></span>
			<span class=" main-nav__text">Sample pages</span>
		</a>
		
	</li>
	<li>
		<a class="main-nav__link" href="grid.html">
			<span class="main-nav__icon"><i class="pe-7f-browser"></i></span>
			<span class=" main-nav__text">Grid Layout</span>
		</a>
	</li>
	<li>
		<a class="main-nav__link" href="tables.html">
			<span class="main-nav__icon"><i class="pe-7f-note"></i></span>
			<span class=" main-nav__text">Tables &amp; forms</span>
		</a>
	</li>
	<li>
		<a class="main-nav__link" href="stats.html">
			<span class="main-nav__icon"><i class="pe-7f-graph3"></i></span>
			<span class=" main-nav__text">Statistics</span>
		</a>
	</li>
</ul>