.categorycloudWidget .widget__header {position: relative;width: 100%;overflow: hidden;/*background:blue;*/}
.categorycloudWidget .widget__title {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.categorycloudWidget .maincontent{width: 100%; height: 100%; display:block;}
/*.categorycloudWidget .maincontent figure img{width:200px;}*/
.categorycloudWidget .widget {height: auto;}
.categorycloudWidget .widget__header{height: 64px;display:flex;flex-direction:row; align-content:center; justify-content:flex-start; align-items:center;font-size: 1.5em;}
.categorycloudWidget .widget__title{display:flex; height: 100%;flex-direction: row;justify-content: flex-start; padding-left:5px; flex-grow:3; background-color: rgba(0, 0, 0, 0.3);}
.categorycloudWidget .widget__icon{display:flex;  height: 100%;flex-direction: column;justify-content: center; padding-left:15px;background-color: rgba(0, 0, 0, 0.3);}
.categorycloudWidget .btn-header{ cursor:pointer;display: flex;  height: 100%;flex-direction: column;justify-content: center;font-size: 1em;padding:0 15px; margin-left:1px; background-color: rgba(0, 0, 0, 0.3);}
.categorycloudWidget .widget__content.filled{ min-height:1000px; background:rgba(0,0,0,0.4);padding: 10px;}

#cloudCat {width: 300px;height: 300px;position: relative;}

.categorycloudWidget.style0{background:rgba(255,0,0,0.4);}
/*.categorycloudWidget.style0 .maincontent{display:none;}*/



.categorycloudWidget.style1 .widget__header{display:none;}
.categorycloudWidget.style1 .maincontent{border: solid 1px rgba(255, 255, 255, 0.1)}
.categorycloudWidget.style1 .widget__content.filled{background:transparent;}