

.profileWidget .widget__content.filled {padding:10px;margin-top: 0;}
.profileWidget .namediv {position: absolute;top:10px;left:10px; font-size: 1.7em}
.profileWidget .namediv div small{font-size: 0.7em}
.profileWidget .imgdiv {position: absolute;top:10px;right:10px;bottom:10px;}
.profileWidget .imgdiv figure{height: 100%;}
.profileWidget .imgdiv figure img{height: 100%;border-radius:100px;}

.profileWidget .btndiv {position: absolute;bottom:10px;left:10px;font-size: 1em;}
.profileWidget .btndiv .btn-circle{font-size: 1.5em; width: 2em; height: 2em; padding:0px;	display:inline-flex; justify-content:center;align-items:center;}
.profileWidget .btndiv .btn-circle:hover{background: rgba(255,255,255,0.05);cursor: pointer;}







.profileWidget.smallFont { font-size:0.8rem;}
.profileWidget.mediumFont { font-size:1rem;}
.profileWidget.largeFont { font-size:1.2rem;}
.profileWidget.saveLargeFont { font-size:1.2rem;}
.profileWidget.extralargeFont { font-size:1.5rem;}
	
.profileWidget.style0{background:rgba(255,0,0,0.4);}
/*.profileWidget.style0 .maincontent{display:none;}*/

.profileWidget.style1	{}
.profileWidget.style1	.widget__content.filled{}

.profileWidget.style2	{}
.profileWidget.style2	.widget__content.filled{}
.profileWidget.style2	.namediv {font-size: 1.5em}
.profileWidget.style2   .btndiv {width: 12em;}
.profileWidget.style2   .btndiv .btn-circle:nth-child(2){margin-left:0.2em;margin-bottom:0.2em;margin-right:2em;}
.profileWidget.style2   .btndiv .btn-circle:nth-child(4){margin-left:0.2em;}

.profileWidget.style3	{}
.profileWidget.style3	.widget__content.filled{}

.profileWidget.style4	{}
.profileWidget.style4	.widget__content.filled{}
.profileWidget.style4	.namediv {font-size: 1.5em}
.profileWidget.style4   .btndiv {width: 12em;}
.profileWidget.style4   .btndiv .btn-circle:nth-child(2){margin-left:0.2em;margin-bottom:0.2em;margin-right:2em;}
.profileWidget.style4   .btndiv .btn-circle:nth-child(4){margin-left:0.2em;}
.profileWidget.style4   .imgdiv {position: absolute;top:70px;right:10px;bottom:10px;}
.profileWidget.style4   .imgdiv figure{text-align: right;}

.profileWidget.style6	{}
.profileWidget.style6	.widget__content.filled{}
.profileWidget.style6   .imgdiv {position: absolute;top:auto;right:10px;bottom:10px;height: 3em;width: 3em;}
.profileWidget.style6   .imgdiv figure{text-align: right;}

.profileWidget.style7	{}
.profileWidget.style7	.widget__content.filled{}
.profileWidget.style7	.namediv {}
.profileWidget.style7   .RESIZEHEIGHT {display:flex;flex-direction:column;justify-content:space-between;align-items:center;}
.profileWidget.style7   .imgdiv {flex-grow:5;position: relative;top:auto;right:auto;bottom:auto;display:flex;align-items:center;}
.profileWidget.style7   .namediv {flex-grow:2;left : auto;font-size: 1.5em;margin:20px 0px;  position: relative;top:auto;right:auto;bottom:auto;height: auto;width: auto;}
.profileWidget.style7   .namediv div{text-align: center;}
.profileWidget.style7   .btndiv {flex-grow:3;left : auto;position: relative;top:auto;right:auto;bottom:auto;height: auto;width: auto;}
/*.profileWidget.style7   .imgdiv figure{text-align: right;}*/
/*.profileWidget .btndiv .btn-circle{font-size: 1.5em; width: 2em; height: 2em; padding:0px;	display:inline-flex; justify-content:center;align-items:center;}*/





.profileWidget .angular-notifications-icon div {font-size: 1rem;font-weight:bolder;} 

/*.profileWidget.style1	.widget__content.filled >div{height: 100%; display:flex;}
.profileWidget.style1	.widget__content.filled .post__info{display:none;}
.profileWidget.style1	.widget__content.filled .infosinfos{display:none;}
.profileWidget.style1	.maincontent figure {height :calc(100% - 20px); height :100%; border-radius:5px;}
.profileWidget.style1	.maincontent figure img{width:auto;height:100%;}
.profileWidget.style1	.widget__content.filled h4{ width: calc(100% - 58px);line-height: 3rem;padding-right: 0px;flex-grow:2;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
*/
	
/*.profileWidget.style2	.widget__content.filled{background:teal;min-height: auto;overflow: hidden;height:calc(100% - 64px)}
.profileWidget.style2	.widget__content.filled >div{height: 100%; display:block;}
.profileWidget.style2	.widget__content.filled .post__info{display:none;}
.profileWidget.style2	.widget__content.filled .infosinfos{display:flex;position: absolute;bottom:10px;left:10px;overflow:hidden;width: calc(100% - 150px);text-overflow: ellipsis;white-space: nowrap;}
.profileWidget.style2	.maincontent figure {height :calc(100% - 20px); border-radius:5px; position: absolute; top:10px;right:10px;}
.profileWidget.style2	.maincontent figure img{width:auto;height:100%;}
.profileWidget.style2	.widget__content.filled h4{height:calc(100% - 30px); width: calc(100% - 130px); line-height: 2rem;padding-right: 0px;flex-grow:2;overflow:hidden;}

	*/
