.tagcloudWidget .widget__header {position: relative;width: 100%;overflow: hidden;/*background:blue;*/}
.tagcloudWidget .widget__title {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tagcloudWidget .maincontent{width: 100%; height: 100%; display:block;}
/*.tagcloudWidget .maincontent figure img{width:200px;}*/
.tagcloudWidget .widget {height: auto;}
.tagcloudWidget .widget__header{height: 64px;display:flex;flex-direction:row; align-content:center; justify-content:flex-start; align-items:center;font-size: 1.5em;}
.tagcloudWidget .widget__title{display:flex; height: 100%;flex-direction: row;justify-content: flex-start; padding-left:5px; flex-grow:3; background-color: rgba(0, 0, 0, 0.3);}
.tagcloudWidget .widget__icon{display:flex;  height: 100%;flex-direction: column;justify-content: center; padding-left:15px;background-color: rgba(0, 0, 0, 0.3);}
.tagcloudWidget .btn-header{ cursor:pointer;display: flex;  height: 100%;flex-direction: column;justify-content: center;font-size: 1em;padding:0 15px; margin-left:1px; background-color: rgba(0, 0, 0, 0.3);}
.tagcloudWidget .widget__content.filled{ min-height:1000px; background:rgba(0,0,0,0.4);padding: 10px;}

#cloudCat {width: 300px;height: 300px;position: relative;}

.tagcloudWidget.style0{background:rgba(255,0,0,0.4);}
.tagcloudWidget.style0 .maincontent{display:none;}
#cloudCat .CatInCloud{ padding: 2px 5px;border-radius:3px;}
#noCatElment{text-align: center;display:flex;justify-content:center;align-items:center;}

.tagcloudWidget.style1 .widget__header{display:none;}
.tagcloudWidget.style1 .maincontent{border: solid 1px rgba(255, 255, 255, 0.03)}
.tagcloudWidget.style1 .widget__content.filled{background:transparent;}

.tagcloudWidget.smallFont #cloudTag{font-size: 0.8rem;}
.tagcloudWidget.smallFont #cloudTag .w10{font-size: 400%;}
.tagcloudWidget.mediumFont #cloudTag{font-size: 1rem;}
.tagcloudWidget.largeFont #cloudTag{font-size: 1.8rem;}