<div class="my-container">


<div infinite-scroll="myPagingFunction()">
	<article class="widget">
		<header class="pageHeader">

			<a  class="rightBtn" ng-click="returnDashboardState()">
				<span ><i class="fa fa-dashboard"></i></span>
			</a>
			<a  class="rightBtn" ng-click="returnPreviousState()">
				<span  ><i class="fa fa-long-arrow-left"></i></span>
			</a>
			<div class="pageTitle">
				<i class="pe-7f-way"></i><h3>Mes catégories</h3>
			</div>
			<div class="searchBar">
				<input class="" type="text" ng-blur="searchCategories()" ng-keypress="blurOnEnter($event)" ng-model="searchSlug" placeholder="Recherche dans les catégories">
				<span class="iconsearch"><i class="fa fa-search"></i></span>
			</div>
			<!-- <a class="leftBtn" href="">
				<span  ><i class="pe-7s-way"></i></span>
			</a> -->
			<!-- <a class="leftBtn" ui-sref="add">
				<span  ><i class="pe-7s-plus"></i></span>
			</a> -->
		</header>
		
		<div class="widget__content table-responsive">
			
			<table class="table media-table">
		  	<thead>
		  		<tr>
		  			<!-- <i ng-if="!searchSlug" ng-show="sort=='date DESC'" class="pe-7s-angle-down"></i>  <i ng-if="!searchSlug" ng-show="sort=='date ASC'" class="pe-7s-angle-up"> -->
		  			<th width="210"  >Image </th>
		  			<th  ng-click="changeSort('name');">Titre <i ng-if="!searchSlug" ng-show="sort=='name DESC'" class="pe-7s-angle-down"></i>  <i ng-if="!searchSlug" ng-show="sort=='name ASC'" class="pe-7s-angle-up"></th>
		  			<th style="width:80px;" ng-click="changeSort('nbProjects');" >Projet <i ng-if="!searchSlug" ng-show="sort=='nbProjects DESC'" class="pe-7s-angle-down"></i>  <i ng-if="!searchSlug" ng-show="sort=='nbProjects ASC'" class="pe-7s-angle-up"></th>
		  			<th style="width:80px;"ng-click="changeSort('nbArticles');" >Article <i ng-if="!searchSlug" ng-show="sort=='nbArticles DESC'" class="pe-7s-angle-down"></i> <i ng-if="!searchSlug" ng-show="sort=='nbArticles ASC'" class="pe-7s-angle-up"></th>
		  			<th style="width:150px;">Couleur</th>
		  			<th style="width:150px;" >Couleur du text</th>


		  			<!-- <i ng-if="!searchSlug" ng-show="sort=='status DESC'" class="pe-7s-angle-down pull-right"></i> <i ng-if="!searchSlug" ng-show="sort=='status ASC'" class="pe-7s-angle-up pull-right" />
		  			<span class="pull-right">Status</span> -->
		  		</tr>
		  	</thead>
		  	<tbody>

		  	
		  		<tr class="tableRowCat" ng-repeat="cat in categoriesList">

		  			<td>
		  				<div class="btn btn-primary" ng-click="ModalImage(cat)" ng-if="!cat.images[0]">Ajouter une image</div>
		  				<figure class="pull-left tableCat__img" ng-if="cat.images[0]" ng-click="ModalImage(cat)">
							<img class="media-object" ng-src="image/resized/{{cat.images[0].filename}}" alt="user">
							
						</figure>
		  			</td>
		  			<td>
		  				<input type="text" class="stacked-input" ng-model="cat.name" ng-blur="update(cat.id,'name',cat.name)">
		  			</td>
		  			<td>
		  				<span class="spanNumber">{{cat.nbProjects}}</span>
		  			</td>
		  			<td>
		  				<span class="spanNumber">{{cat.nbArticles}}</span>
		  			</td>
		  			<td >
		  				<!-- <input minicolors="miniColorsSetting" id="color-input" class="form-control" type="text" ng-model="cat.color"> -->
		  				<color-picker ng-model="cat.color"  color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-only="true" color-picker-on-Blur="changeColor(cat.color, cat.id)"></color-picker>
		  			</td>
		  			<td>
		  				<div class="formGroup">
							<div class="btn-group block">
							  <a ng-click="cat.textColor='black';update(cat.id,'textColor',cat.textColor)" type="button" class="fakeColorBlack btn active"  ng-class="{'black':cat.textColor=='black','white':cat.textColor=='white'}" style="border-right:0px">Noir</a>
							  <a ng-click="cat.textColor='white';update(cat.id,'textColor',cat.textColor)" type="button" class="fakeColorWhite btn active" ng-class="{'black':cat.textColor=='black','white':cat.textColor=='white'}"  style="border-left:0px">Blanc</a>
							</div>
						</div>
		  			</td>
		  		</tr>


		  	</tbody>
			</table>

			

			<div class="endInfinite">
				
				<span us-spinner="spinneropts"  spinner-key="articleSpinner"></span>
				<span ng-if="fin">Fin</span>
			</div>
			

			
		</div> <!-- /widget__content -->

	</article>
</div>
</div>